* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
}

.h-top {
	padding: 1rem 0.5rem;
	width: 100%;
	background-color: white;
	color: black;
}

nav {
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	flex-basis: 1;
}

nav ul {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
}

nav ul li {
	margin: 0 0.5rem;
	padding: 0 0.3rem;
	font-size: 0.9rem;
	font-family: 'Quicksand', sans-serif;
	cursor: pointer;
}
nav img {
	width: 6rem;
}

.search {
	position: relative;
}
.search #search-box {
	background-color: rgb(240, 240, 240);
	border-radius: 20px;
	padding: 0.6rem 2rem;
	width: 35vw;
}

.search i {
	position: absolute;
	top: 0.9rem;
	margin-left: 0.8rem;
	font-size: 0.8rem;
	color: grey;
}
ul li i {
	font-size: 1.1rem;
}

.nav-bottom {
	margin: 1rem auto;
}

.h-bottom {
	padding: 1rem 0;
	width: 100%;
	background-color: white;
	color: black;
	border-top: 1px solid grey;
	box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.505);
	cursor: pointer;
}

/*================================================= Poster ===================================================*/

.poster {
	position: relative;
	margin: 0 7rem;
}

.poster .poster-image img {
	width: 100%;
}

.poster .poster-card {
	position: absolute;
	top: 25%;
	left: 7%;
	width: 25rem;
	padding: 2rem;
	background-color: white;
}

.poster-card p {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	margin-top: 1rem;
}

/*============================================== Learning Cards ================================================*/

.learning {
	margin: 0 7rem;
}

.learning .upper {
	padding: 2rem 0.3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.upper h2 {
	font-family: 'Merriweather', serif;
}

.upper a {
	color: rgb(64, 0, 143);
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
}

.learning .learning-cards {
	width: 100%;
	height: 25vh;
	display: flex;
	justify-content: space-between;
	flex-basis: 1;
	cursor: pointer;
}

.learning-cards .card {
	width: 30%;
	border: 1px solid lightgrey;
	display: flex;
}

.learning-cards .card:hover {
	background-color: rgb(241, 241, 241);
}

.learning-cards .card .left {
	width: 35%;
	background-color: grey;
	position: relative;
}

.learning-cards .card .left i {
	position: absolute;
	top: 40%;
	left: 35%;
	font-size: 2rem;
}

.learning-cards .card .right {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}

.learning-cards .card .right p {
	font-size: 0.7rem;
	font-family: 'Poppins', sans-serif;
}

.learning-cards .card .right h2 {
	margin-top: 0.9rem;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
}

.learning-cards .card .right span {
	font-size: 0.8rem;
	margin-top: 2rem;
	color: grey;
	font-weight: bold;
}

/*================================================ Adv-strips ============================================*/

.adv-strip {
	margin: 2rem 7rem;
	padding: 1.5rem 1.5rem;
	background-color: black;
	color: white;
}

.adv-strip .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.adv-strip .left h2 {
	display: inline;
	font-size: 1rem;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
}

.adv-strip .left span {
	font-size: 0.9rem;
	font-family: 'Poppins', sans-serif;
}

.adv-strip .right .business {
	margin: 0 0.3rem;
	padding: 0.7rem;
	font-size: 0.8rem;
	font-weight: bold;
	background-color: white;
	color: black;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.adv-strip .right .dismiss {
	margin: 0 0.3rem;
	padding: 0.7rem;
	font-size: 0.8rem;
	font-weight: bold;
	border: 1px solid white;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

/*========================================= Qucik Pick ===============================================*/

.quick-pick {
	margin: 2rem 7rem;
}

.quick-pick h2 {
	font-family: 'Merriweather', serif;
}

.quick-pick .card {
	margin-top: 1rem;
	padding: 1.3rem;
	border: 1px solid lightgrey;
	height: 50vh;
	display: flex;
}

.quick-pick .card .left {
	width: 35%;
}

.quick-pick .card .left img {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.quick-pick .card .right {
	padding: 0 1.5rem;
}

.quick-pick .card .right h2 {
	margin: 1rem 0;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.quick-pick .card .right p {
	font-family: 'Quicksand', sans-serif;
	margin: 0.7rem 0;
}

.quick-pick .card .right p span {
	color: green;
	font-weight: bold;
}

.quick-pick .card .right .price {
	margin-top: 5rem;
	font-weight: bold;
}

/*========================================== Recommended for you ===============================================*/

.recommended {
	margin: 2rem 7rem;
}

.recommended h2 {
	font-family: 'Merriweather', serif;
}

.recommended .cards {
	width: 100%;
	margin: 1rem 0;
	padding: 1.1rem 0;
	display: flex;
	justify-content: space-between;
	flex-basis: auto;
	overflow: hidden;
}

.recommended .cards .card {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 0.5rem;
}

.recommended .cards .card h2 {
	font-size: 1rem;
	margin-top: 0.5rem;
	font-family: 'Roboto', sans-serif;
}

.recommended .cards .card p {
	font-size: 0.9rem;
	margin-top: 0.5rem;
	font-family: 'Quicksand', sans-serif;
}

.recommended .cards .card p i {
	color: rgb(234, 181, 67);
}

.recommended .cards .card .price {
	font-weight: bold;
}

.recommended .cards .card span {
	margin-top: 1rem;
	font-size: 0.8rem;
	padding: 0.3rem;
	background-color: #d1d03c;
	width: fit-content;
}

/*========================================== Topics =========================================================*/

.topics {
	margin: 2rem 7rem;
}

.topics h2 {
	margin-bottom: 1rem;
	font-family: 'Merriweather', serif;
}

.topics .tiles {
	display: flex;
	width: 100%;
	align-items: center;
	flex-basis: 1;
}

.topics .tiles span {
	width: 100%;
	text-align: center;
	margin: 0.3rem;
	padding: 0.8rem 1.2rem;
	border: 1px solid lightgrey;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	cursor: pointer;
}

.topics .tiles span:hover {
	background-color: rgb(241, 241, 241);
}

/*============================================ Footer =====================================================*/

footer {
	background-color: black;
	color: white;
}
/* t1  */

.t1 {
	padding: 1.5rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid grey;
}

.t1 .left h2 {
	letter-spacing: 1px;
	margin-bottom: 0.8rem;
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
}

.t1 .left p {
	font-size: 0.8rem;
	font-family: 'Poppins', sans-serif;
}

.t1 .right span {
	padding: 0.7rem;
	border: 1px solid white;
	font-family: 'Roboto', sans-serif;
}

/* t2  */

.t2 {
	padding: 1.5rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid grey;
}

.t2 .left h2 {
	letter-spacing: 1px;
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
}

.t2 .left span {
	color: rgb(193, 127, 255);
}

.t2 .right img {
	margin: 0 0.3rem;
}

/* t3  */
.t3 {
	position: relative;
	padding: 1.5rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.t3 .left {
	display: flex;
	justify-content: space-around;
	flex-basis: 1;
}

.t3 .left ul {
	list-style: none;
	margin: 0 2rem;
}
.t3 .left ul li {
	width: 100%;
	padding: 0.3rem 0;
	font-size: 0.8rem;
	cursor: pointer;
	text-align: left;
	font-family: 'Quicksand', sans-serif;
}

.t3 .left ul li:hover {
	text-decoration: underline;
}
.t3 .right span {
	position: absolute;
	top: 1.5rem;
	right: 2.5rem;
	padding: 0.8rem;
	border: 1px solid white;
}

.t3 .right span i {
	margin: 0 0.3rem;
}

/* t4  */

.t4 {
	padding: 2rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid grey;
}

.t4 .left img {
	width: 5rem;
}

.t4 .right p {
	font-size: 0.8rem;
	font-family: 'Quicksand', sans-serif;
}

/* t5  */

.t5 {
	letter-spacing: 1px;
	padding: 1rem;
	text-align: center;
	font-size: 0.8rem;
	font-family: 'Quicksand', sans-serif;
}
